### Tuple

In [1]:
# tuple
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
# nested_tuple
nested_tup = (4,5,6), (7,8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [5]:
# changable to tuple (sequence data structure or iterator)
tuple([4,0,2])

(4, 0, 2)

In [6]:
tup = tuple('string')

In [7]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

's'

In [9]:
tup = tuple(['foo', [1,2], True])

In [10]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [11]:
tup[1].append(3)

In [12]:
tup

('foo', [1, 2, 3], True)

In [13]:
(4, None, 'foo') + (6,0) + ('bar', )

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo', 'bar')*3

('foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [15]:
tup = (4,5,6)
a,b,c = tup
b

5

In [16]:
tup = 4, 5, (6,7)

In [17]:
a, b, (c, d) = tup
d

7

In [18]:
a, b = 1, 2
a, b = b, a

In [19]:
a

2

In [20]:
seq = [(1,2,3), (4,5,6), (7,8,9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [22]:
values = 1,2,3,4,5
a, b, *_ = values
a, b

(1, 2)

In [23]:
a = (1,2,2,2,3,4,2)
a.count(2)

4

### List

In [24]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [25]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [26]:
b_tup = tuple(b_list)

In [27]:
b_tup

('foo', 'peekaboo', 'baz')